@import './main.scss';

.preview-edit-details-form {
  // .form-item-email {}
  
  .form-item-cityState {
    width: 214px;
    margin: 0;
    padding: 0;
  }
  
  .form-item-gender-container {
    height: 154px;
    display: flex;
    align-items: flex-end;
    
    @include media($sm) {
      height: auto;
      margin-top: 32px;
    }

    .form-item-gender {
      margin: 0;
      padding: 0;
    }
  }
}
