@import './main.scss';
@import './profileVars.scss';

.preview-edit-details {
  padding: 21px;
  border-bottom: 2px solid $primary-color;
  
  .preview-edit-details-title {
    @include text(
      $font-weight: 600, $font-size: 16px
    );
  }
}
