@import "./variables.scss";

.education-list {
  // max-width: 300px;
  padding-top: 20px;

  .education-list-item {

    &:not(:last-child) {
      margin-bottom: 19px;
    }

    .ant-tag {
      padding: 7px;
      margin-right: 0;
      @include flexbox(
        $align-items: center,
        $justify-content: space-between
      );
      max-width: 300px;
      background: #EFEFF3;
      
      &.preview-mode {
        background: initial;
        border: initial;
      }

      div {
        max-width: 250px;

        .education-list-item-quals {
          margin: 0;
          @include text(
            $font-size: 16px, $font-weight: 600, $line-height: 28px,
            $letter-spacing: 0.304px
          );
        }
        
        .education-list-item-school {
          margin: 0;
          @include text(
            $font-size: 16px, $line-height: 24px,
            $letter-spacing: -0.256px
          );
        }
      }
    }
  }
  
  .preview-edit-education-add-btn {
    margin-left: 10px;
    border: 1.5px solid #15A9E1;
    border-radius: 2px;
    width: 62px;
    padding: 0;
    color: $primary-color !important;
    @include text(
      $font-size: 14px, $font-weight: 500, $line-height: 24px
    );
  }
  
  .preview-edit-education-tip {
    @include text($line-height: 24px);
    margin-top: 12px;
    max-width: 313px;
  }
}
