@import './variables.scss';

.header {
  padding: 0 24px;
  background-color: #fff;
  height: 59px;
  @include flexbox($justify-content: center);
  
  .header-content {
    @include flexbox($align-items: center, $justify-content: space-between);
    width: 1080px;

    @include media($sm) {
      & {
        // transform: scale(0.85);
        overflow-x: auto;
      }
    }
    
    .header-logo-wrapper {
      margin-right: 24px;
  
      .header-logo {
        background: url('/assets/images/logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 219px;
        height: 52px;
      }
    }
  
    .header-contactus-btn {
      padding: 0;
      text-transform: uppercase;
      font-family: 'Noto Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.32px;
    }
  }
}
