@import "./variables.scss";

.layout {
  height: 100vh;

  .main-content {
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    // height: calc(100vh - 60px);
  }

  .ant-divider {
    background: $divider-bgcolor;
  }
}
