@import "./main.scss";

.preview {
  padding: 0 21px 21px;
  border-bottom: 2px solid $primary-color;

  .preview-info {
    padding: 8px 0 0 24px;
    
    @include media($sm) {
      padding: 8px 0 0;
    }

    .preview-info-fullname {
      @include text($font-size: 18px);
      margin: 0;
    }

    .preview-info-phone {
      @include text($font-size: 14px, $font-weight: normal);
      margin: 0;
    }
    
    .preview-info-skills {
      margin-top: 13px;
      
      .preview-info-skills-item {
        @include text(
          $font-weight: 500, $line-height: 16px, $letter-spacing: 0.47px
        );
        text-transform: uppercase;
        
        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }
  }
  
  .preview-edit-btn {
    @include media(417px) {
      margin-top: 24px;
    }
  }
}
