@import "./variables.scss";

.preview-btns {

  .preview-edit-btn {
    .ant-btn {
      border: 1.5px solid #15a9e1;
      border-radius: 3px;
      padding: 0;
      width: 62px;
      color: $primary-color;
    }
  }
  
  .preview-save-btn {
    .ant-btn {
      background: $primary-color;
      border: 1.5px solid #15A9E1;
      border-radius: 2px;
      width: 84px;
      height: 40px;
      color: #fff;
      padding: 0;
    }
  }
  
  .preview-cancel-btn {
    margin-top: 12px;

    .ant-btn {
      border-radius: 2px;
      width: 84px;
      height: 40px;
      padding: 0;
    }
  }
}
