@import './main.scss';

@mixin text(
  $font-size: 12px, $font-weight: normal,
  $line-height: 30px, $letter-spacing: -0.2px, $color: $secondary-text-color
) {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  color: $color;
}

.preview-edit-btn {
  .ant-btn {
    border: 1.5px solid #15a9e1;
    border-radius: 3px;
    padding: 0;
    width: 62px;
    color: $primary-color;
  }
}

.preview-save-btn {
  .ant-btn {
    background: $primary-color;
    border: 1.5px solid #15A9E1;
    border-radius: 2px;
    width: 84px;
    height: 40px;
    color: #fff;
    padding: 0;
  }
}

.preview-cancel-btn {
  margin-top: 12px;

  .ant-btn {
    border-radius: 2px;
    width: 84px;
    height: 40px;
    padding: 0;
  }
}
