@import "./main.scss";

.sign-up-info {
  .sign-up-info-img-wrapper {
    max-width: 353.04px;
    margin: 0 auto;

    .sign-up-info-img {
      height: 298px;
      background: url("/asset/images/account.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .sign-up-info-title {
    margin: 24px 0;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.2px;
    color: $secondary-text-color;
  }
}
