@import "./variables.scss";

.steps {
  @mixin borderRadius(
    $top-left: 0, $top-right: 0,
    $bottom-left: 0, $bottom-right: 0,
  ) {
    border-top-left-radius: $top-left;
    border-top-right-radius: $top-right;
    border-bottom-left-radius: $bottom-left;
    border-bottom-right-radius: $bottom-right;
  }

  @include flexbox($justify-content: center);

  .steps-label-items {
    margin: 31px 24px 0;
    width: 825px;
    min-height: 46px;

    .ant-steps {
      height: 100%;

      @include media($sm) {
        display: flex;
        
        &.ant-steps-horizontal.ant-steps-label-horizontal > 
        .ant-steps-item:not(:last-child) > .ant-steps-item-container > 
        .ant-steps-item-tail {
          display: none;
        }
        
        &.ant-steps-horizontal.ant-steps-label-horizontal .ant-steps-item-content {
          display: block;
          overflow: unset;
          min-height: unset;
        }
        
        &.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
          // margin-right: 0px;
          white-space: normal;
        }
      }
    
      .ant-steps-item-custom.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
        color: #fff;
      }

      .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
        color: $primary-text-color;
      }
      
      .ant-steps-item {
        
        .ant-steps-item-container {
          height: 100%;
          min-height: 48px;

          @include flexbox($align-items: center);
          
          @include media($sm) {
            & {
              flex-direction: column;
              align-items: flex-start;
            }
          }
          
          .ant-steps-item-icon {
            height: 100%;
            margin-right: 0px;
            max-width: 34px;
            padding-left: 8px;

            @include flexbox($align-items: center);
            @include borderRadius(
              $top-left: 3px, $top-right: 0, $bottom-left: 3px, $bottom-right: 0
            );
            
            @include media($sm) {
              & {
                @include borderRadius(
                  $top-left: 3px, $top-right: 3px, $bottom-left: 0, $bottom-right: 0
                );
                padding-left: 0;
                padding-top: 22px;
                width: 100%;
                max-width: 97px;
                justify-content: center;
              }
            }

            .ant-steps-icon {
              width: 31px;
              height: 31px;
            }
          }
          
          .ant-steps-item-content {
            height: 100%;
            
            .ant-steps-item-title {
              height: 100%;

              @include text(
                $font-size: 14px, $font-weight: 600, $line-height: 18px,
              );
              
              &:after {
                top: 23px;
                height: 2px;
                background: #bfbfbf;
              }
              
              @include media($sm) {
                &:after {
                  top: 0px;
                }
              }
              
              .title {
                height: 100%;
                padding: 0 8px;

                @include flexbox($align-items: center);
                @include borderRadius(
                  $top-right: 3px, $bottom-right: 3px
                );

                @include media($sm) {
                  & {
                    @include borderRadius(
                      $top-left: 0, $top-right: 0, $bottom-left: 3px, $bottom-right: 3px
                    );
                    padding-top: 11px;
                    width: 97px;
                    justify-content: center;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
      
      .ant-steps-item.ant-steps-item-process.ant-steps-item-active 
      .ant-steps-item-container {
        .ant-steps-item-icon {
          height: 100%;
          background: $primary-color;
        }
        
        .ant-steps-item-content .ant-steps-item-title {
          color: #fff;

          .title {
            background: $primary-color;

            @include media($sm) {
              & {
                padding-bottom: 29px;
              }
            }
          }
        }
      }
      
      // .ant-steps-item.ant-steps-item-wait 
      // .ant-steps-item-container {
      //   .ant-steps-item-icon {}
        
      //   .ant-steps-item-content .ant-steps-item-title {
      //     // color: #fff;

      //     .title {}
      //   }
      // }
      
      .ant-steps-item.ant-steps-item-finish
      .ant-steps-item-container {
        .ant-steps-item-icon {}
        
        .ant-steps-item-content .ant-steps-item-title {
          color: $primary-color;
          
          &:after {
            background: $primary-color;
          }

          .title {}
        }
      }

    }
  }

  // .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  //   color: $primary-color;
  // }

  // .ant-steps-item-process > .ant-steps-item-container >
  // .ant-steps-item-content > .ant-steps-item-title {
  //   color: $primary-color;
  // }

  // .ant-steps-item-finish > .ant-steps-item-container >
  // .ant-steps-item-content > .ant-steps-item-title {
  //   color: $primary-color;
  // }

  // .ant-steps-item-finish > .ant-steps-item-container >
  // .ant-steps-item-content > .ant-steps-item-title::after {
  //   background-color: $primary-color;
  // }
}
