@import "../styles/main.scss";

.upload-section {
  .upload-section-img-wrapper {
    max-width: 256px;
    height: 224px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin-left: auto;

    @include media($sm) {
      margin: 0 auto;
    }

    .upload-section-img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .upload-section-img-default {
      @extend .upload-section-img;
      background: url("/assets/images/upload-default.svg");
    }

    .upload-section-img-uploading {
      @extend .upload-section-img;
      background: url("/assets/images/upload-uploading.svg");
    }
    
    .upload-section-img-done {
      @extend .upload-section-img;
      background: url("/assets/images/upload-done.svg");
    }
    
    .upload-section-img-error {
      @extend .upload-section-img;
      // background: url("/assets/images/upload-error.svg");
    }
  }

  .upload-section-title {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.533333px;
    text-transform: uppercase;
    color: $secondary-text-color;
    width: 256px;
    margin-left: auto;
    margin-top: 42px;
    margin-bottom: 14px;

    @include media($sm) {
      margin-right: auto;
      text-align: center;
    }
    
    .ant-btn {
      margin-left: 25px;
    }
  }

  .upload-section-upload-btn {
    width: 256px;
    margin-left: auto;
    margin-bottom: 97px;

    @include media($sm) {
      margin-right: auto;
      text-align: center;
    }

    .ant-btn {
      border: 1.5px solid #15a9e1;
      box-sizing: border-box;
      border-radius: 2px;
      font-family: "Noto Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: $primary-color;
      width: 97px;
      height: 40px;
      padding: 0;
    }
  }
}
